<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransportService" maxReceivedMessageSize = "804857600"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://yartransportcloudservice.cloudapp.net/TransportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransportService"
                contract="TransportServiceReference.ITransportService" name="BasicHttpBinding_ITransportService" />
        </client>
    </system.serviceModel>
</configuration>